@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

$bodyFont: Poppins, sans-serif;

// Color

$darkGrey: #2d2d2d;
$white: #fff;
$lightGrey: #A7A7A7;


// Font size

$buttonText: 3rem;
$colorCodeText: 2.4rem;
$sliderText: 2.4rem;

$buttonTextMobile: 1.8rem;